*.swp
*.swo
*~
*.swn
*.pyc
.coverage
.ropeproject
*.egg-info
.tox
build
.DS_Store
tests/build
tests/cases/*.dart
tests/cases/*.go
tests/cases/*.jl
tests/cases/*.rs
tests/cases/*.cpp
tests/cases/*.kt
tests/cases/*.nim
# Removing generated tests
tests/cases-py2many
