*.swp
*.swo
*~
*.swn
*.pyc
.coverage
.ropeproject
*.egg-info
.tox
build
.DS_Store
tests/build
tests/cases/binit
tests/cases/fib
tests/cases/infer
tests/cases/infer_ops
tests/cases/int_enum
tests/cases/print
tests/cases/rect
tests/cases/str_enum
tests/cases/*.dart
tests/cases/*.go
tests/cases/*.jl
tests/cases/*.rs
tests/cases/*.cpp
tests/cases/*.kt
tests/cases/*.nim
dist/
tests/output
target/
Cargo.lock
uv.lock
go.mod
go.sum
.env
